
img{border: 5px solid black}

.header{
    background-color:#537FEA;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.designs{
    background-color: powderblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly 
}